<h3 class="title"><%= @data['exception'] %></h3>
<div class="trace">
  <% unless REPO_URL.empty? %>
    <a href="<%= repo_url(@project_file_path, @project_line) %>" target="_blank">Goto to Line with exception ➤</a>
  <% end  %>
  <table class="table table-striped backtrace">
    <% @data['backtrace'].each do |line| %>
      <tr>
        <td class='line'>
          <%= "#{line['file']}:#{line['number']} in #{line['method']}" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="env"><%= @data['environment'] %></div>
