.blob-container{
    border: 1px solid #ccc;
    font-size: 8pt;
    min-height: 150px;
    width: 400px;
    padding: 5px;
}
.blob{
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  color: #333333;
  padding: 10px;
}
.blob .title{
  margin: 5px 0 10px 0;
}
table.backtrace td.line{
  padding: 1px 0;
}
